{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }}
    - Įrankiai nuomai
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ user.username }} - Įrankiai nuomai</h1>


        <form class="row align-items-end mt-4" >
            {# <div class="row align-items-start"> #}
            <div class="col">
                {# <div class="mb-3"> #}
                <label for="category" class="form-label">Kategorija</label>
                <select class="form-select" id="category" name="category" onchange="this.form.submit()">
                    <option value="">Visos kategorijos</option>
                    <option value="work" {% if app.request.get('category') == 'work' %}selected{% endif %}>Darbo įrankiai</option>
                    <option value="table" {% if app.request.get('category') == 'table' %}selected{% endif %}>Stalo įrankiai</option>
                    <option value="arts" {% if app.request.get('category') == 'arts' %}selected{% endif %}>Meno įrankiai</option>
                    <option value="agro" {% if app.request.get('category') == 'agro' %}selected{% endif %}>Žemės ūkio įrankiai</option>
                    <option value="leasure" {% if app.request.get('category') == 'leasure' %}selected{% endif %}>Laisvalaikio įrankiai</option>
                    <option value="other" {% if app.request.get('category') == 'other' %}selected{% endif %}>Kiti įrankiai</option>
                </select>
                {# </div> #}
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" style="display: contents">
                <div class="input-group" style="width: 300px;" role="search">
                    <input class="form-control form-control-md" type="search" name="q" placeholder="Ieškoti..." aria-label="Search" />
                    <button class="btn btn-primary" type="submit">
                        {# <i class="fa-solid fa-magnifying-glass search-icon"></i> #}
                        <i class="bi bi-search search-icon"></i>
                    </button>
                </div>
            </div>
            {# </div> #}
        </form>

        <div class="row row-cols-4 justify-content-start">
            {% for item in items %}
                <div class="col">
                    <div class="card" style="width: 18rem; margin-top: 2rem; {% if app.user != item.createdBy and item.status != constant('App\\Enum\\ItemStatus::AVAILABLE') %} background-color: light-grey; z-index: 100; {% endif %}">
                        {% if item.images|length > 0 %}
                            <img src="{{ asset('uploads/images/' ~ item.images[0]) }}" class="card-img-top" alt="Image of {{ item.name }}" style="height: 200px; object-fit: cover; {% if user != item.createdBy and item.status != constant('App\\Enum\\ItemStatus::AVAILABLE') %} opacity: 0.6; {% endif %}" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Kaina: {{ item.price }} EUR</h6>
                            <div class="card-text mb-2 text-truncate">{{ item.description }}</div>

                            {% if app.user == item.createdBy %}
                                {% if item.status != constant('App\\Enum\\ItemStatus::AVAILABLE') %}
                                    <span class="text-muted">Išnuomuotas</span>
                                    <br/>
                                {% endif %}
                                <a href="{{ path('app_item', { id: item.id }) }}" class="btn btn-secondary">Žiūrėti detales</a>
                            {% else %}
                                {% if item.status == constant('App\\Enum\\ItemStatus::AVAILABLE') %}
                                    <a href="{{ path('app_item', { id: item.id }) }}" class="btn btn-secondary">Žiūrėti detales</a>
                                {% else %}
                                    <span class="text-muted">Išnuomuotas</span>
                                {% endif %}
                            {% endif %}

                            {% if app.user == user %}
                                <div class="container mt-2" style="display: flex; flex-direction: row; gap: 0.5rem; padding-left: 0;">
                                    <a href="{{ path('app_item_edit', { id: item.id }) }}" class="btn btn-secondary"><i class="bi bi-pen"></i></a>

                                    {% if item.status != constant('App\\Enum\\ItemStatus::AVAILABLE') %}
                                        <form method="post" action="{{ path('app_item_set_returned', { id: item.id }) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('set_returned' ~ item.id) }}">

                                            <button class="btn btn-warning" type="submit" title="Nustatyti kaip grąžintą">
                                                <i class="bi bi-box-arrow-in-down"></i>
                                            </button>
                                        </form>
                                    {% endif %}

                                    <form method="delete" action="{{ path('app_item_delete', { id: item.id }) }}" onsubmit="return confirm('Ar tikrai norite ištrinti šį įrankį?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                        <button class="btn btn-danger" type="submit" title="Panaikinti">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col mt-4">
                    <div class="alert alert-info" role="alert">
                        Nėra įrankių atitinkančių paiešką.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
